#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/*                      Current Layout
   ╭─────────────────────────┬─────────────────────────╮
   │ LN5 LN4 LN3 LN2 LN1 LN0 │ RN0 RN1 RN2 RN3 RN4 RN5 │
   │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
   │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
   │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
   │         LF1 LF0         │         RF0 RF1         │
   ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
               ╰───╮ LH4 LH3 │ RH3 RH4 ╭───╯
                   ╰─────────┴─────────╯             */

// Left Hand: Leader
ZMK_COMBO(ldr, &leader, LH2 LH1, BASE NAV NUM SYS GAMING, COMBO_TERM_FAST, COMBO_IDLE_FAST,
          LS(LCTRL), KEYS_R)

ZMK_COMBO(ldrt, &leader, LM2 LM1, BASE NAV NUM SYS GAMING, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LCTRL), KEYS_R)

// Mouse
ZMK_COMBO(mouse, &smart_mouse, LT2 LT1, BASE NAV NUM SYS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(cut, &kp LC(X), LB3 LB1, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy, &kp LC(INS), LB3 LB2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(paste, &kp LS(INS), LB2 LB1, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Right Hand Horizontal Combos
ZMK_COMBO(lpar, &lpar_lt, RT1 RT2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar, &rpar_gt, RT2 RT3, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lbkt, &kp LBKT, RM1 RM2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt, &kp RBKT, RM2 RM3, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lbrc, &kp LBRC, RB1 RB2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc, &kp RBRC, RB2 RB3, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

 // Both Hand Combos
ZMK_COMBO(nlr, &tog 0, LH2 RH2, BASE NAV NUM SYS, COMBO_TERM_FAST,
          COMBO_IDLE_FAST)
