#include <dt-bindings/zmk/matrix_transform.h>
#include "cosmotyl.dtsi"
/* #include "cosmotyl-layouts.dtsi" */

&spi1 {
    status = "disabled";
};


/ {
    chosen {
        zmk,kscan = &mock_kscan;
        /* zmk,physical-layout = &default_layout; */
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

