/* #include <dt-bindings/zmk/matrix_transform.h> */
#include "cosmotyl.dtsi"
/* #include "cosmotyl-layouts.dtsi" */

&kscan0 {
    compatible = "zmk,kscan-mock";

    columns = <0>;
    rows = <0>;
    events = <0>;
};

/* / { */
/*     chosen { */
/*         zmk,kscan = &mock_kscan; */
/*         zmk,physical-layout = &default_layout; */
/*     }; */
/**/
/*     default_transform: keymap_transform_0 { */
/*         col-offset = <0>; */
/*     }; */
/**/
/*     mock_kscan: mock_kscan_0 { */
/*         compatible = "zmk,kscan-mock"; */
/*         columns = <0>; */
/*         rows = <0>; */
/*         events = <0>; */
/*     }; */
/* }; */

